<script lang="ts">
	import { getModalStore } from '@skeletonlabs/skeleton';
	import { afterUpdate, type SvelteComponent } from 'svelte';

	export let parent: SvelteComponent;
	const m = getModalStore();

	let svg = '';
	let typ = 'pcb';
	m.subscribe(async (value) => {
		if (value?.[0] && svg === '') {
			svg = await fetch(value[0].meta.image, { mode: 'cors', cache: 'reload' }).then((res) =>
				res.text()
			);
			typ = value[0].meta.image.includes('schematic') ? 'schematic' : 'pcb';
		}
	});

	afterUpdate(() => {
		if (svg !== '') {
			const c = window.document.querySelector('#preview-modal svg');
			if (c) {
				window.svgPanZoom(c, {
					zoomEnabled: true,
					controlIconsEnabled: true,
					fit: true,
					center: true,
					zoomScaleSensitivity: 0.3,
				});
			}
		}
	});
</script>

{#if svg}
	<button
		class="btn-icon variant-filled fixed top-4 right-4 z-50 font-bold shadow-xl"
		on:click={parent.onClose}>×</button
	>
	<!-- Image -->
	<div class="preview {typ} h-[80dvh] w-[80dvw]" id="preview-modal">
		<!-- eslint-disable-next-line svelte/no-at-html-tags -->
		{@html svg}
	</div>
{/if}

<style lang="postcss">
	:global(.preview.pcb svg) {
		@apply bg-black;
	}
</style>
