<script lang="ts">
	import { CodeBlock, Tab, TabGroup } from '@skeletonlabs/skeleton';
	import { ENV } from '$ENV';
	import { getModalStore, type ModalSettings } from '@skeletonlabs/skeleton';
	import { MetaTags } from 'svelte-meta-tags';
	import CommitTimeline from '$lib/components/CommitTimeline.svelte';
	import Datatable from '$lib/components/datatable/Datatable.svelte';
	import Maximize from 'lucide-svelte/icons/maximize';
	import MetadataViewer from '$lib/components/MetadataViewer.svelte';
	import type { PageData } from './$types';
	import Violations from '$lib/components/Violations.svelte';
	import Lock from 'lucide-svelte/icons/lock-keyhole';

	export let data: PageData;
	let tabSet = 0;

	const repoUrl = new URL(data.module.repository.url);
	const originalOnwerName = repoUrl.pathname.split('/')[1];
	const displayname = data.module.user.displayname;
	const repoName = data.module.repository.name;
	const moduleName = data.module.name;
	const src = `${ENV.backendUrl}/static/${displayname}/${repoUrl.host}/${repoUrl.pathname}/${moduleName}`;
	const cliUrl = `${ENV.backendUrl}/v1/module/${displayname}/${repoName}/${moduleName}`;

	const modalStore = getModalStore();
	const modalPcbPreview: ModalSettings = {
		type: 'component',
		meta: {
			image: `${src}/pcb.svg`,
		},
		component: 'previewModal',
	};

	const modalSchPreview: ModalSettings = {
		type: 'component',
		meta: {
			image: `${src}/schematic.svg`,
		},
		component: 'previewModal',
	};
	const metaTitle = `EDeA | ${data.module.repository.name}/${data.module.name}`;
	const metaDescription = `${data.module.description ?? ''}, An EDeA module submitted by ${
		data.module.user.displayname || data.module.user.subject
	}`;
	const metaCanonical = `${ENV.frontendUrl}/${displayname}/${repoName}/${moduleName}`;
</script>

<MetaTags
	title={metaTitle}
	description={metaDescription}
	canonical={metaCanonical}
	keywords={data.module.parameters.map((p) => p.type)}
	openGraph={{
		url: metaCanonical,
		type: 'website',
		title: metaTitle,
		description: metaDescription,
		images: [
			{
				url: `${src}/pcb.jpg`,
			},
		],
	}}
	twitter={{
		cardType: 'summary_large_image',
		title: metaTitle,
		description: metaDescription,
	}}
/>
<article
	class="grid grid-rows-[auto,1f] gap-10 lg:gap-20 max-w-[1600px] mx-auto py-10 px-4 sm:px-6 lg:px-20 lg:py-20"
>
	<header class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 md:gap-10">
		<div class="flex flex-col gap-4">
			<h1
				class="text-2xl md:text-3xl lg:text-4xl font-extrabold leading-none tracking-tight flex flex-row gap-2 items-center"
			>
				{#if data.module.private}
					<span title="private module">
						<Lock />
					</span>
				{/if}
				{data.module.name}
			</h1>
			<div class="flex flex-col gap-4">
				<ol class="breadcrumb font-bold text-sm sm:text-base">
					<li class="crumb">
						<a class="anchor no-underline hover:underline" href="/{displayname}">{displayname}</a>
					</li>
					<li class="crumb-separator" aria-hidden="true">/</li>
					<li class="crumb">
						<a class="anchor no-underline hover:underline" href="/{displayname}/{repoName}"
							>{repoName}</a
						>
					</li>
					<li class="crumb-separator" aria-hidden="true">/</li>
					<li class="crumb">{moduleName}</li>
				</ol>
				<span
					>from <a
						class="anchor no-underline hover:underline font-bold"
						href={data.module.repository.url}
						rel="noopener"
					>
						<span class="crumb inline">{originalOnwerName}</span>
						<span class="crumb-separator inline">/</span>
						<span class="crumb inline">{data.module.repository.name}</span><svg
							class="inline-block mb-1 md:mb-3"
							width="1em"
							height="1em"
							stroke-width="0"
							viewBox="0 0 16 16"
							fill="currentColor"
							xmlns="http://www.w3.org/2000/svg"
							><path d="M1.5 1H6v1H2v12h12v-4h1v4.5l-.5.5h-13l-.5-.5v-13l.5-.5z" /><path
								d="M15 1.5V8h-1V2.707L7.243 9.465l-.707-.708L13.293 2H8V1h6.5l.5.5z"
							/></svg
						>
					</a></span
				>
			</div>
			<div class="flex flex-wrap gap-2 sm:gap-3">
				{#each data.module.parameters as p}
					<div
						class="text-sm sm:text-base text-center px-2 sm:px-4 py-1 rounded-token variant-filled-secondary"
					>
						{p.type}: {p.value}
					</div>
				{/each}
			</div>
		</div>
		<div class="flex flex-col gap-4 justify-self-end w-full">
			<p class="font-semibold">{data.module.description ?? ''}</p>
			<p>use this module:</p>
			<CodeBlock language="sh" code={`edea add module --edea-url ${cliUrl}`} buttonCopied="✅" />
		</div>
	</header>
	<main class="grid grid-cols-1 md:grid-cols-2 items-start gap-6 md:gap-10">
		<section class="readme order-2 md:order-1">
			<h1 class="text-xl md:text-2xl lg:text-3xl font-bold leading-none tracking-tight">README</h1>
			<!-- eslint-disable-next-line svelte/no-at-html-tags -->
			{@html data.readme}
		</section>
		<section class="flex flex-col gap-6 md:gap-12 justify-between order-1 md:order-2">
			<div class="preview grid grid-cols-1 lg:grid-cols-2 gap-6 md:gap-10">
				<div class="relative">
					<button
						class="icon absolute top-2 left-2"
						on:click={() => modalStore.trigger(modalPcbPreview)}
						title="Click to open interactive mode"
					>
						<Maximize color="white" />
					</button>
					<img
						class="pcb w-full h-full border bg-black rounded-md"
						src={`${src}/pcb.svg`}
						alt="PCB drawing"
						title=""
					/>
				</div>
				<div class="relative">
					<button
						class="icon absolute top-2 lg:right-2 lg:left-auto left-2"
						on:click={() => modalStore.trigger(modalSchPreview)}
						title="Click to open interactive mode"><Maximize color="black" /></button
					>
					<img
						class="ch w-full h-full rounded-md"
						src={`${src}/schematic.svg`}
						alt="Schematic drawing"
						title=""
					/>
				</div>
			</div>
			<TabGroup class="hidden md:block">
				<Tab bind:group={tabSet} name="metadata" value={0}>Metadata</Tab>
				<Tab bind:group={tabSet} name="parts" value={1}>Parts</Tab>
				<Tab bind:group={tabSet} name="violations" value={2}>Violations</Tab>
				<Tab bind:group={tabSet} name="history" value={3}>History</Tab>
				<svelte:fragment slot="panel">
					{#if tabSet === 0}
						<MetadataViewer metadata={data.module.metadata_} />
					{:else if tabSet === 1}
						<Datatable data={data.module.metadata_.parts ?? {}} />
					{:else if tabSet === 2}
						<Violations data={data.violations} />
					{:else if tabSet === 3}
						<CommitTimeline commits={data.commits} />
					{/if}
				</svelte:fragment>
			</TabGroup>
		</section>
	</main>
</article>

<style lang="postcss">
	:global(.preview svg) {
		width: 100%;
		height: 100%;
	}

	@media (max-width: 1024px) {
		:global(article header .codeblock-pre) {
			@apply whitespace-nowrap;
			@apply overflow-x-auto;
		}

		:global(article header .codeblock-header + pre code) {
			width: 100%;
			@apply overflow-x-auto;
		}
	}

	:global(.readme) {
		:global(h1:not(:first-child)),
		:global(h2),
		:global(h3),
		:global(h4),
		:global(h5),
		:global(h6) {
			@apply font-bold leading-none tracking-tight border-b-2 border-gray-300 pb-3 mt-6 mb-6;
		}
		:global(h1) {
			@apply text-xl;
		}
		:global(h2) {
			@apply text-lg;
		}

		:global(a) {
			@apply anchor;
		}

		:global(table:not(code)) {
			@appply mt-6 mb-6 width-auto block;

			:global(tr th),
			:global(tr td) {
				@apply pt-2 pb-2 pl-3 pr-3 border-2 border-gray-300;
			}

			:global(tr th) {
				@apply font-bold border-b-2 border-b-gray-400;
			}

			:global(tr),
			:global(th) {
				@apply border-2 border-gray-300;
			}
		}

		:global(img) {
			@apply w-full h-auto mt-6 mb-6;
		}
	}
</style>
