<script lang="ts">
	import { page } from '$app/stores';
</script>

<main class="flex max-h-[90vh] items-center justify-center h-screen flex-col gap-10">
	<h1 class="font-bold leading-none tracking-tight text-3xl">
		{$page.error?.message ?? ''} 😕
	</h1>
	<h2 class="font-semibold leading-none tracking-tight text-xl">{$page.status ?? ''}</h2>
</main>
