<script lang="ts">
	import '../app.postcss';
	import { AppShell, AppBar, Modal } from '@skeletonlabs/skeleton';
	import { ENV } from '$ENV';
	import { initializeStores } from '@skeletonlabs/skeleton';
	import { setContext } from 'svelte';
	import { writable } from 'svelte/store';
	import Footer from '$lib/components/Footer.svelte';
	import LogIn from 'lucide-svelte/icons/log-in';
	import LogOut from 'lucide-svelte/icons/log-out';
	import Preview from '$lib/ImagePreview.svelte';
	import Send from 'lucide-svelte/icons/send';
	import type { LayoutData } from './$types';
	import type { ModalComponent } from '@skeletonlabs/skeleton';
	import type { UserSchema } from '$client';

	initializeStores();

	const modalComponentRegistry: Record<string, ModalComponent> = {
		previewModal: {
			ref: Preview,
		},
	};

	export let data: LayoutData;
	let user = writable<UserSchema | undefined>(data.user);
	setContext('user', user);
	function handleLogout() {
		user.set(undefined);
	}
	let mobileMenuOpen = false;
	const toggleMenu = () => {
		mobileMenuOpen = !mobileMenuOpen;
	};
	const closeMenu = () => {
		mobileMenuOpen = false;
	};
</script>

<Modal components={modalComponentRegistry} />
<AppShell>
	<svelte:fragment slot="header">
		<AppBar>
			<svelte:fragment slot="lead">
				<a href="/"><img src="/logo.svg" alt="EDeA's logo" class="w-20 lg:w-auto h-auto" /></a>
			</svelte:fragment>
			<svelte:fragment slot="trail">
				<!-- Hamburger/Cross Icon -->
				<button
					class="block lg:hidden absolute right-3 top-4 text-xl bg-transparent border-none cursor-pointer z-20 {mobileMenuOpen
						? 'text-white'
						: 'text-black'}"
					on:click={toggleMenu}
					aria-label="Menu"
				>
					{#if mobileMenuOpen}
						✕
					{:else}
						☰
					{/if}
				</button>
				<nav
					class:open={mobileMenuOpen}
					class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-80 text-white hidden lg:flex flex-col justify-center
					items-center gap-8 transition-opacity duration-300 opacity-0 z-10 !m-0
					lg:relative lg:bg-transparent lg:text-black lg:h-auto lg:opacity-100 lg:flex-row lg:gap-8"
				>
					<a
						on:click={closeMenu}
						class="btn btn-lg variant-ghost-surface capitalize flex gap-2 items-center"
						href="/submit"
						><Send /> Submit your module
					</a>
					{#if data.user == undefined}
						<a
							on:click={closeMenu}
							class="btn btn-lg variant-ghost-surface capitalize flex gap-2 items-center"
							href="{ENV.backendUrl}/v1/user/login"><LogIn />Login</a
						>
					{:else if data.user.subject !== 'single_user'}
						<a
							on:click={closeMenu}
							on:submit={handleLogout}
							class="btn btn-lg variant-ghost-surface capitalize flex gap-2 items-center"
							href="{ENV.backendUrl}/v1/user/logout"><LogOut />Logout</a
						>
					{/if}
				</nav>
			</svelte:fragment>
		</AppBar>
	</svelte:fragment>
	<slot />
	<svelte:fragment slot="pageFooter">
		<Footer />
	</svelte:fragment>
</AppShell>

<style lang="postcss">
	/* Show the menu when it is open on mobile*/
	nav.open {
		display: flex;
		opacity: 1;
	}
	@media (max-width: 1024px) {
		nav .btn {
			background-color: #e5e5e5;
			color: black;
		}
	}
</style>
