<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { Paginator, type PaginationSettings } from '@skeletonlabs/skeleton';
	import { query, parametericQuery } from '$lib/components/ModuleGallery/query';
	import JsonURL from '@jsonurl/jsonurl';
	import ModulesGallery from '$lib/components/ModuleGallery/ModulesGallery.svelte';
	import Search from '$lib/components/ModuleGallery/Search.svelte';
	import type { PageData } from './$types';
	import { MetaTags } from 'svelte-meta-tags';
	import { ENV } from '$ENV';

	export let data: PageData;

	let paginationSettings = {
		page: 0,
		limit: 1,
		size: data.totalPages,
		amounts: [],
	} satisfies PaginationSettings;
	$: paginationSettings.size = data.totalPages;

	function onSubmit(_: Event) {
		const searchParams = new URLSearchParams($page.url.searchParams.toString());
		$query ? searchParams.set('q', $query) : searchParams.delete('q');
		const ps = JsonURL.stringify($parametericQuery, { AQF: true });
		Object.keys($parametericQuery).length > 0
			? searchParams.set('parameters', ps ?? '')
			: searchParams.delete('parameters');

		if (searchParams.has('page')) {
			searchParams.delete('page');
		}
		goto(`?${searchParams.toString()}`, { keepFocus: true });
	}

	function onPageChange(e: CustomEvent<number>) {
		const searchParams = new URLSearchParams($page.url.searchParams.toString());
		searchParams.set('page', (e.detail + 1).toString());
		goto(`?${searchParams.toString()}`, { keepFocus: true });
	}

	const metaTitle = `EDeA Homepage`;
	const metaDescription =
		'EDeA is a novel approach to allow exploration of and improve discovery within the open hardware ecosystem' +
		' - in order to help make open hardware designs and components discoverable and reusable.';
	const metaCanonical = ENV.frontendUrl;
</script>

<MetaTags
	title={metaTitle}
	description={metaDescription}
	keywords={['search', 'modules', 'open hardware', 'EDA', 'EDA tools', 'electronics']}
	canonical={metaCanonical}
	openGraph={{
		url: metaCanonical,
		type: 'website',
		title: metaTitle,
		description: metaDescription,
		images: [
			{
				url: '/homepage.png',
			},
		],
	}}
	twitter={{
		cardType: 'summary_large_image',
		title: metaTitle,
		description: metaDescription,
	}}
/>
<section class="flex flex-col pb-10 lg:py-20 container mx-auto px-4 sm:px-6 lg:px-8 max-w-6xl">
	<ModulesGallery modules={data.modules}>
		<Search slot="search" {onSubmit} parameters={data.seachableParameters} />
		<div slot="paginator" class="justify-self-center self-center">
			{#if data.modules.length > 0}
				<Paginator bind:settings={paginationSettings} on:page={onPageChange} />
			{/if}
		</div>
	</ModulesGallery>
</section>
