<script lang="ts">
	import ModulesGallery from '$lib/components/ModuleGallery/ModulesGallery.svelte';
	import { MetaTags } from 'svelte-meta-tags';
	import type { PageData } from './$types';
	import { ENV } from '$ENV';

	export let data: PageData;
	const displayname = data.modules?.[0].user.displayname;
	const metaTitle = `EDeA | ${displayname}`;
	const metaDescription = `EDeA modules submitted by ${
		data.modules?.[0].user.displayname || data.modules?.[0].user.subject
	}`;
	const metaCanonical = `${ENV.frontendUrl}/${displayname}`;
</script>

<MetaTags
	title={metaTitle}
	description={metaDescription}
	keywords={data.modules.flatMap((m) => m.parameters.map((p) => p.type))}
	canonical={metaCanonical}
	openGraph={{
		url: metaCanonical,
		type: 'website',
		title: metaTitle,
		description: metaDescription,
	}}
	twitter={{
		cardType: 'summary',
		title: metaTitle,
		description: metaDescription,
	}}
/>
<section class="flex flex-col my-20 container mx-auto px-4 sm:px-6 lg:px-8 max-w-6xl">
	<h3 class="h3">Modules by {displayname}</h3>
	<ModulesGallery modules={data.modules} />
</section>
