<script lang="ts">
	import { client } from '$client/edea';
	import { ENV } from '$ENV';
	import { getContext } from 'svelte';
	import { goto } from '$app/navigation';
	import { submitModuleOrRules } from '$client';
	import { TreeView, TreeViewItem, ProgressRadial } from '@skeletonlabs/skeleton';
	import CircleHelp from 'lucide-svelte/icons/circle-help';
	import Send from 'lucide-svelte/icons/send';
	import type { userStore } from '$lib/stores/user';

	const user = getContext<typeof userStore>('user');
	let updates: string[] = [];
	let socketClosed = false;
	$: wait = updates.length > 0 && !socketClosed;

	$: maxFormWidth =
		typeof window != 'undefined'
			? (document.querySelector('form input[name=url]')?.getBoundingClientRect().width ?? 200) - 20
			: 300;

	async function onSubmit(event: Event) {
		// reset before re-submitting
		updates = [];
		socketClosed = false;

		const formData = new FormData(event.target as HTMLFormElement);
		const url = formData.get('url') as string;
		const isPrivate = formData.get('private') === 'on';
		const accessToken = (formData.get('accessToken') as string) ?? '';
		const socket = new WebSocket(
			`${ENV.backendUrl}/v1/submit/${$user.displayname}/updates`.replace(
				/^http(s)?:\/\//,
				'ws$1://'
			)
		);

		socket.addEventListener('message', (event) => {
			updates = [...updates, event.data];
		});

		socket.addEventListener('close', () => {
			socketClosed = true;
		});

		await new Promise((resolve) => {
			// wait for the socket to open and make the ui wait too before sending the request
			socket.addEventListener('open', resolve);
		});

		const res = await submitModuleOrRules({
			client,
			body: { repo_url: url, private: isPrivate, access_token: accessToken },
			credentials: 'include',
			mode: 'cors',
		});

		if (res.error) {
			socket.close();
			const repoFullName = `${$user.displayname}/${url.split('/').at(-1)}`;
			if (res.response.status === 409) {
				updates = [
					...updates,
					// TODO: the update text should be sent by the server
					`Modules already exist\n<a class="anchor" href="module/${repoFullName}">${repoFullName}</a>`,
				];
				return;
			}

			if (res.response.status === 422) {
				const reason = Array.isArray(res.error.detail)
					? res.error.detail.map((d) => d.msg).join(',<br>')
					: res.error?.detail;
				updates = [...updates, `Failed to create modules or rules 😕<br> ${reason}`];
				return;
			}
			updates = [...updates, `${res.response.statusText}`];
			return;
		}

		const m = res.data[0];
		goto(`/${m.user.displayname}/${m.repository.name}`);
	}
</script>

<div class="grid gap-20 container mx-auto px-4 sm:px-6 lg:px-8 my-0 lg:my-20 max-w-2xl pt-20">
	<form
		class="flex flex-col gap-4 p-4 rounded-lg shadow-lg lg:shadow-none w-full max-w-xl mx-auto"
		on:submit|preventDefault={onSubmit}
	>
		<div class="text-lg font-semibold">Submit a module collection</div>
		<label for="url" class="text-sm font-medium text-gray-700 lg:hidden">Repository URL</label>
		<div class="flex flex-col sm:flex-row lg:grid lg:grid-cols-4 gap-4">
			<input
				required
				autocomplete="off"
				readonly={wait}
				class="input flex-grow p-2 border rounded-md text-gray-800 focus:ring-2 focus:border-transparent text-sm sm:text-base lg:col-span-3"
				title="The git repo url"
				type="text"
				name="url"
				placeholder="https://gitlab.com/edea-dev/test-modules"
			/>
			<button
				class="btn variant-filled rounded-md sm:w-auto w-full lg:col-span-1 flex gap-2 items-center"
				disabled={wait}
			>
				<Send />Submit
			</button>
		</div>

		<TreeView hover="unset">
			<TreeViewItem class="more-options order border-gray-200 rounded-md">
				<span class="text-sm font-medium text-gray-700 lg:text-base">More Options</span>
				<svelte:fragment slot="children">
					<div
						class="options pl-0 sm:pl-3 lg:pl-3 flex flex-col gap-3"
						style={`--max-form-width: ${maxFormWidth}px;`}
					>
						<label
							class="label flex items-center space-x-2 cursor-help text-gray-600 lg:text-gray-700"
						>
							<input class="checkbox" type="checkbox" name="private" readonly={wait} />
							<span>Private</span>
						</label>
						<label
							class="flex flex-col gap-2 mt-2 text-gray-700 max-w-[{maxFormWidth}px] lg:max-w-full"
							for="accessToken"
						>
							<span>Access token</span>
							<div class="input-group input-group-divider grid-cols-[1fr_auto]">
								<input
									readonly={wait}
									type="password"
									placeholder="*******"
									name="accessToken"
									class="tracking-widest"
								/>
								<a
									class="cursor-help"
									rel="nofollow noopener"
									href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens"
									title="OAuth2 access token for the git host"><CircleHelp /></a
								>
							</div>
						</label>
					</div>
				</svelte:fragment>
			</TreeViewItem>
		</TreeView>
	</form>
	{#if updates.length > 0}
		<div class="flex flex-col justify-center items-center gap-5">
			{#if wait}
				<ProgressRadial width="w-24" />
			{/if}
			<!-- eslint-disable-next-line svelte/no-at-html-tags -->
			<p class="text-center">{@html updates.at(-1)}</p>
		</div>
	{/if}
</div>

<style lang="postcss">
	:global(summary) {
		padding-left: 0 !important;
	}
	@media (max-width: 400px) {
		.options {
			max-width: var(--max-form-width);
		}
	}
</style>
