<script lang="ts">
	//Import local datatable components
	import ThSort from '$lib/components/datatable/ThSort.svelte';
	import ThFilter from '$lib/components/datatable/ThFilter.svelte';
	import Search from '$lib/components/datatable/Search.svelte';
	import RowsPerPage from '$lib/components/datatable/RowsPerPage.svelte';
	import RowCount from '$lib/components/datatable/RowCount.svelte';
	import Pagination from '$lib/components/datatable/Pagination.svelte';
	//Import handler from SSD
	import { DataHandler } from '@vincjo/datatables';

	interface PartInfo {
		Reference?: string;
		Value?: string;
		Footprint?: string;
		Datasheet?: string;
		PartNo?: string;
	}
	export let data: Record<string, PartInfo>;

	let handler = new DataHandler(Object.values(data), { rowsPerPage: 10 });
	let rows = handler.getRows();

	function isValidUrl(s: string) {
		try {
			new URL(s);
		} catch (_) {
			return false;
		}
		return true;
	}
</script>

<div class=" overflow-x-auto space-y-4">
	<!-- Header -->
	<header class="flex justify-between gap-4">
		<Search {handler} />
		<RowsPerPage {handler} />
	</header>
	<!-- Table -->
	<table class="table table-hover table-compact w-full table-auto">
		<thead>
			<tr>
				<ThSort {handler} orderBy="Reference">Reference</ThSort>
				<ThSort {handler} orderBy="Value">Value</ThSort>
				<ThSort {handler} orderBy="PartNo">Part number</ThSort>
				<ThSort {handler} orderBy="Datasheet">Datasheet</ThSort>
			</tr>
			<tr>
				<ThFilter {handler} filterBy="Reference" />
				<ThFilter {handler} filterBy="Value" />
				<ThFilter {handler} filterBy="Part No" />
				<ThFilter {handler} filterBy="Datasheet" />
			</tr>
		</thead>
		<tbody>
			{#each $rows as row}
				<tr>
					<td>{row?.Reference ?? ''}</td>
					<td>{row?.Value ?? ''}</td>
					<td>{row?.PartNo ?? ''}</td>
					{#if row?.Datasheet && isValidUrl(row?.Datasheet)}
						<a class="anchor" href={row?.Datasheet}> {row?.Datasheet}</a>
					{:else}
						{row?.Datasheet ?? ''}
					{/if}
				</tr>
			{/each}
		</tbody>
	</table>
	<!-- Footer -->
	<footer class="flex justify-between">
		<RowCount {handler} />
		<Pagination {handler} />
	</footer>
</div>
