<script lang="ts">
	import { ENV } from '$ENV';
	import Lock from 'lucide-svelte/icons/lock-keyhole';
	import type { ModuleSchema } from '$client/types.gen';

	export let module: ModuleSchema;

	const repoUrl = new URL(module.repository.url);
	const path = repoUrl.pathname.replace(/\.git$/, '');
	const src = `${ENV.backendUrl}/static/${module.user.displayname}/${repoUrl.host}${path}/${module.name}/pcb.svg`;
</script>

<a
	class="module card-hover variant-ghost-surface p-4 rounded-lg flex items-start gap-3 flex-col"
	href="/{module.user.displayname}/{module.repository.name}/{encodeURIComponent(module.name)}"
>
	<div class="flex items-center justify-center h-[314px] w-full">
		<img
			{src}
			alt="{module.name} PCB preview"
			class="w-full h-full object-fit"
			style="background-color: #E5E5E5;"
		/>
	</div>
	<div class="grid grid-rows-[auto,1fr,auto] gap-4 min-h-[10dvh]">
		<div class="flex flex-row gap-2 items-center text-xl font-semibold">
			{#if module.private}
				<Lock />
			{/if}
			{module.name}
		</div>
		<p class="description text-lg">{module.description || ''}</p>
		<hr class="opacity-70" />
		by {module.user.displayname || module.user.subject}
	</div>
</a>

<style>
	.module .description {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		display: -webkit-box;
		word-wrap: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 100px;
	}
</style>
