<script lang="ts">
	import type { ModuleSchema } from '$client';
	import ModuleCard from './ModuleCard.svelte';

	export let modules: ModuleSchema[];
</script>

<section class="grid gap-20 pt-20">
	<slot name="search" />
	<div class="grid gap-6 grid-cols-1 lg:grid-cols-3 min-h-[40dvh]">
		{#if modules.length === 0}
			<div class="col-span-full text-center">
				<p class="text-2xl">No results found 👀</p>
			</div>
		{:else}
			{#each modules as module (module.id)}
				<ModuleCard {module} />
			{/each}
		{/if}
	</div>
	<slot name="paginator" />
</section>
