<script lang="ts">
	import { ListBox, ListBoxItem } from '@skeletonlabs/skeleton';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';
	import { parametericQuery } from './query';
	import JsonURL from '@jsonurl/jsonurl';

	export let type: string;
	export let values: string[] = [];
	let selected: string[] = [];
	$: parametericQuery.update((value) => {
		if (selected.length === 0) {
			delete value[type as keyof typeof value];
			return value;
		}
		return [...value, { type, values: selected }];
	});

	onMount(() => {
		// intilaize the selected parameters from url
		const encodedParameters = $page.url.searchParams.get('parameters') as string;
		const parameters = JsonURL.parse(encodedParameters, { AQF: true });
		if (parameters?.[type]) {
			selected = parameters[type];
		}
	});
</script>

<div class="bg-tertiary-200 rounded-md border border-tertiary-600 p-2 col-span-3 md:col-span-1">
	<div class="px-4 py-2 text-sm font-semibold text-tertiary-100 bg-tertiary-800">
		{type}
	</div>
	<ListBox class="max-h-36 overflow-auto" rounded="" multiple>
		{#each values as value}
			<ListBoxItem
				active="variant-soft"
				class="listbox-item cursor-pointer hover:variant-soft "
				bind:group={selected}
				name={type}
				{value}>{value}</ListBoxItem
			>
		{/each}
	</ListBox>
</div>
