<script lang="ts">
	import { onMount } from 'svelte';
	import { page } from '$app/stores';
	import { query, parameterFilter, parametericQuery } from './query';
	import { TreeView, TreeViewItem } from '@skeletonlabs/skeleton';
	import JsonURL from '@jsonurl/jsonurl';
	import PackageSearch from 'lucide-svelte/icons/package-search';
	import Parameter from './Parameter.svelte';
	import type { GetAllParametersResponse } from '$client/types.gen';

	export let parameters: GetAllParametersResponse;
	export let onSubmit: (e: Event) => void;

	/* filter the parameters by the parameterFilter, if it's empty, return all the parameters
	 * a simple substring match
	 */
	let encodedParameters = $page.url.searchParams.get('parameters') as string;
	let urlParameters = JsonURL.parse(encodedParameters, { AQF: true }) ?? {};
	$: filtered = Object.fromEntries(
		Object.entries(parameters)
			// put the parameters that appears in the url first
			.toSorted((a, b) => {
				const aInUrl = Object.keys(urlParameters).includes(a[0]);
				const bInUrl = Object.keys(urlParameters).includes(b[0]);
				if (aInUrl && !bInUrl) return -1;
				if (!aInUrl && bInUrl) return 1;
				return 0;
			})
			.filter(([key]) => {
				const byUrl = Object.keys(urlParameters).includes(key);
				return key.toLowerCase().includes($parameterFilter.toLowerCase()) || byUrl;
			})
	);
	let showAll = false;
	const cols = 3;

	onMount(() => {
		if ($page.url.searchParams.has('q')) {
			const q = $page.url.searchParams.get('q') as string;
			query.set(q);
		} else {
			query.set('');
		}

		if ($page.url.searchParams.has('parameters')) {
			const encodedParameters = $page.url.searchParams.get('parameters') as string;
			const parameters = JsonURL.parse(encodedParameters, { AQF: true });
			parametericQuery.set(parameters);
		} else {
			parametericQuery.set([]);
		}
	});
</script>

<div class="search w-full lg:w-2/3 mx-auto">
	<form
		on:submit|preventDefault={onSubmit}
		class="flex flex-col sm:flex-row lg:grid lg:grid-cols-4 gap-4"
	>
		<input
			bind:value={$query}
			autocomplete="off"
			class="w-full p-2 px-4 space-x-4 variant-soft focus:variant-soft rounded-full col-span-3"
			name="q"
			placeholder="search anything"
		/>
		<button
			on:click|preventDefault={onSubmit}
			class="btn variant-filled col-span-1 flex gap-2 items-center"
		>
			<PackageSearch />Search</button
		>
	</form>
	<TreeView hover="unset" class="parameters">
		<TreeViewItem>
			Parameters
			<svelte:fragment slot="children">
				<div class="grid grid-cols-3 gap-x-4 gap-y-8">
					<form class="col-span-3 lg:col-span-1">
						<input
							bind:value={$parameterFilter}
							autocomplete="off"
							class="w-full lg:p-2 lg:px-4 space-x-4 variant-soft focus:variant-soft rounded-full"
							name="q"
							placeholder="filter parameters"
						/>
					</form>
					<div class="hidden lg:block" />
					<div class="hidden lg:block" />
					{#each showAll ? Object.values(filtered) : Object.values(filtered).slice(0, cols) as p}
						<Parameter type={p.type} values={p.values} />
					{/each}
					{#if !showAll && Object.keys(filtered).length > cols}
						<button
							class="btn btn-sm variant-ghost-surface col-span-2 lg:col-span-1"
							on:click={() => {
								showAll = true;
							}}>{Object.keys(filtered).length - cols} more parameters</button
						>
					{/if}
				</div>
			</svelte:fragment>
		</TreeViewItem>
	</TreeView>
</div>

<style>
	:global(.search .parameters) {
		/* avoid selecting the text in the parametric search */
		user-select: none;
	}
</style>
