<script lang="ts">
	import ModulesGallery from '$lib/components/ModuleGallery/ModulesGallery.svelte';
	import { MetaTags } from 'svelte-meta-tags';
	import type { PageData } from './$types';
	import { ENV } from '$ENV';

	export let data: PageData;
	const displayname = data.modules?.[0].user.displayname;
	const repoName = data.modules?.[0].repository.name;
	const repoUrl = new URL(data.modules?.[0].repository.url);
	const originalOnwerName = repoUrl.pathname.split('/')[1];
	const metaTitle = `EDeA | ${data.modules?.[0].repository.name} modules collection`;
	const metaDescription = `An EDeA module collection submitted by ${
		data.modules?.[0].user.displayname || data.modules?.[0].user.subject
	}`;
	const metaCanonical = `${ENV.frontendUrl}/${displayname}/${repoName}`;
</script>

<MetaTags
	title={metaTitle}
	description={metaDescription}
	keywords={data.modules.flatMap((m) => m.parameters.map((p) => p.type))}
	canonical={metaCanonical}
	openGraph={{
		url: metaCanonical,
		type: 'website',
		title: metaTitle,
		description: metaDescription,
	}}
	twitter={{
		cardType: 'summary_large_image',
		title: metaTitle,
		description: metaDescription,
	}}
/>
<section class="flex flex-col my-20 container mx-auto px-4 sm:px-6 lg:px-8 max-w-6xl">
	{#if displayname}
		<div class="flex flex-col gap-4">
			<ol class="breadcrumb font-bold">
				<li class="crumb">
					<a class="anchor no-underline hover:underline" href="/{displayname}">{displayname}</a>
				</li>
				<li class="crumb-separator" aria-hidden="true">/</li>
				<li class="crumb">{repoName}</li>
			</ol>
			<span>
				from
				<a class="anchor no-underline hover:underline" href={repoUrl.toString()} rel="noopener">
					<span class="crumb inline">{originalOnwerName}</span>
					<span class="crumb-separator inline">/</span>
					<span class="crumb inline">{repoName}</span><svg
						class="inline-block mb-3"
						width="1em"
						height="1em"
						stroke-width="0"
						viewBox="0 0 16 16"
						fill="currentColor"
						xmlns="http://www.w3.org/2000/svg"
						><path d="M1.5 1H6v1H2v12h12v-4h1v4.5l-.5.5h-13l-.5-.5v-13l.5-.5z" /><path
							d="M15 1.5V8h-1V2.707L7.243 9.465l-.707-.708L13.293 2H8V1h6.5l.5.5z"
						/></svg
					>
				</a>
			</span>
		</div>
	{/if}

	<ModulesGallery modules={data.modules} />
</section>
