<script lang="ts">
	import type { CommitSchema } from '$client';

	export let commits: CommitSchema[];
</script>

<ol class="relative border-s border-gray-500">
	{#each commits as commit}
		<li class="mb-10 ms-4">
			<div
				class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -start-1.5 border border-gray-400"
			/>
			<h3 class="text-lg font-semibold text-gray-900">
				{commit.message}
			</h3>
			<p class="text-base font-normal text-gray-500">
				{commit.ref}
			</p>
		</li>
	{/each}
</ol>
