<script lang="ts">
	import { ENV } from '$ENV';
</script>

<div class="flex flex-col bg-surface-100-800-token items-center pt-2 pb-2">
	<a
		class="hidden lg:block"
		href="https://gitlab.com/edea-dev/edea-ps"
		rel="noopener"
		title="EDeA's protal server GitLab repository"
		><img
			src="/gitlab.svg"
			alt="gitlab logo"
			height="50"
			width="50"
			class="w-[50px] h-full object-cover"
		/></a
	>
	<div class="hidden lg:block">
		<a class="anchor" href="https://offen.{ENV.host}/auditorium">Offen auditorium</a>
	</div>
	<div class="hidden lg:block">
		API:
		<a class="anchor" href="{ENV.backendUrl}/redoc">Redoc</a> |
		<a class="anchor" href="{ENV.backendUrl}/docs">Swagger</a>
	</div>
	<div class="text-xs md:text-sm lg:text-lg">© 2024, EDeA dev team and contributors.</div>
</div>
