<script lang="ts">
	import type { EdeaModuleMetadataSchema } from '$client';

	export let metadata: EdeaModuleMetadataSchema;
</script>

<div class="table-container">
	<table class="table">
		<thead>
			<tr>
				<th>Area (mm<sup>2</sup>)</th>
				<th>Height (mm)</th>
				<th>Width (mm)</th>
				<th>Copper layers</th>
				<th>Sheets</th>
				<th>Parts</th>
				<th>Unique parts</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{metadata.area_mm ?? 'N/A'}</td>
				<td>{metadata.height_mm ?? 'N/A'}</td>
				<td>{metadata.width_mm ?? 'N/A'}</td>
				<td>{metadata.count_copper_layer ?? 'N/A'}</td>
				<td>{metadata.sheets ?? 'N/A'}</td>
				<td>{metadata.count_part ?? 'N/A'}</td>
				<td>{metadata.count_unique_part ?? 'N/A'}</td>
			</tr>
		</tbody>
	</table>
</div>

<style lang="postcss">
	table thead tr {
		@apply normal-case;
	}
</style>
