<script lang="ts">
	import type { CheckResult } from '$client';
	import { Tab, TabGroup } from '@skeletonlabs/skeleton';

	export let data: CheckResult;
	let unit = data.dr?.coordinate_units ?? '';
	let tabSet = 0;
	let erViolations = data.er?.sheets.map((s) => s.violations).flat() ?? [];
	let drViolations = data.dr?.violations ?? [];
	$: violations = tabSet === 0 ? drViolations : erViolations;
	const severities = {
		error: { color: 'red', icon: '❌', text: 'Error' },
		warning: { color: 'yellow', icon: '⚠️', text: 'Warning' },
		ignore: { color: 'gray', icon: '🤷', text: 'Ignored' },
	};
</script>

<TabGroup>
	<Tab bind:group={tabSet} name="design rules" value={0}>🎨 Design ({drViolations.length})</Tab>
	<Tab bind:group={tabSet} name="electrical rules" value={1}
		>⚡️ Electrical ({erViolations.length})</Tab
	>
	<svelte:fragment slot="panel">
		<div class="flex gap-5 flex-col">
			{#each violations as v}
				<div
					class="border border-{severities[v.severity].color}-400 text-{severities[v.severity]
						.color}-700 px-4 py-3 rounded relative"
					role="alert"
				>
					<strong class="font-bold"
						>{severities[v.severity].icon} {severities[v.severity].text}:</strong
					>
					<span class="block sm:inline">({v.type})</span>
					<span class="block sm:inline">{v.description}</span>
					<ul class="list-disc pl-4">
						{#each v.items as i}
							<li class="text-base-token text-base pt-4 list-item">
								<span class="text-gray-600">{i.uuid}</span>
								<br />
								{i.description} @ ({i.pos.x}{unit}, {i.pos.y}{unit})
							</li>
						{/each}
					</ul>
				</div>
			{/each}
		</div>
		<!-- this div is just to prevent tailwind from purging the variable styles -->
		<div
			class="sr-only border-red-400 text-red-600 border-yellow-400 text-yellow-600 border-gray-400 text-gray-600"
		/>
	</svelte:fragment>
</TabGroup>
